* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "NunitoSansSemiBold";
  scroll-behavior: smooth;
  /* border: 1px solid red; */
}
body {
  scroll-behavior: smooth;
}
.spectrum-InputGroup_a0942f {
  height: 50px;
  align-items: center;
}
.spectrum-Textfield-input_73bc77{
  height: 50px;
  font-size: 16px;
}
.spectrum-FieldButton_e2d99e{
  height: 50px;
  min-width: 50px;
  cursor: pointer;
}
.spectrum-InputGroup_a0942f {
  border-radius: 15px;
}
.spectrum_b37d53 {
}
.spectrum-Dialog-grid_6d8b48{
  z-index: 100;
}
@media (max-width: 1200px){
  .spectrum-Textfield-input_73bc77{
    font-size: 12px;
  }   
  .rs-anim-fade {
    width: 280px;
    display: flex;
    justify-content: flex-start;
  }
  .rs-picker-daterange-calendar-group{
    display: block;
    width: 90%;
  }
  .rs-picker-daterange-panel{
    display: flex;
    justify-content: flex-start;
    height: 620px;
  }
  .rs-calendar{
    width: 280px;
  } 
  .rs-stack-item{
    height: 100%;
  }
  .rs-picker-toolbar {
    width: 280px;
    justify-content: flex-start;
    position: absolute;
    bottom: 0;
  }
}

@font-face {
  font-family: NunitoSansBold;
  src: url("/NunitoSans/NunitoSans-Bold.ttf") format("truetype");
}@font-face {

  font-family: NunitoSansBoldItalic;
  src: url("/NunitoSans/NunitoSans-BoldItalic.ttf") format("truetype");
}
@font-face {
  font-family: ExtraBold;
  src: url("/NunitoSans/NunitoSans-ExtraBold.ttf") format("truetype");
}
@font-face {
  font-family: NunitoSansExtraBoldItalic;
  src: url("/NunitoSans/NunitoSans-ExtraBoldItalic.ttf") format("truetype");
}
@font-face {
  font-family: NunitoSansItalic;
  src: url("/NunitoSans/NunitoSans-Italic.ttf") format("truetype");
}
@font-face {
  font-family: NunitoSansLight;
  src: url("/NunitoSans/NunitoSans-Light.ttf") format("truetype");
}
@font-face {
  font-family: NunitoSansLightItalic;
  src: url("/NunitoSans/NunitoSans-LightItalic.ttf") format("truetype");
}
@font-face {
  font-family: NunitoSansMedium;
  src: url("/NunitoSans/NunitoSans-Medium.ttf") format("truetype");
}
@font-face {
  font-family: NunitoSansMediumItalic;
  src: url("/NunitoSans/NunitoSans-MediumItalic.ttf") format("truetype");
}
@font-face {
  font-family: NunitoSansRegular;
  src: url("/NunitoSans/NunitoSans-Regular.ttf") format("truetype");
}
@font-face {
  font-family: NunitoSansSemiBold;
  src: url("/NunitoSans/NunitoSans-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: NunitoSansSemiBoldItalic;
  src: url("/NunitoSans/NunitoSans-SemiBoldItalic.ttf") format("truetype");
}

::placeholder{
    color: #AEAEAE;
    font-weight: 200;
}